
html, body{
	width   : 100%;
	margin  : 0;
	padding : 0;
}

body{
	background  : #10161d url('img/dot_grid.png');
	font-family : 'blender_prothin';
	font-size   : 12px;
	color       : #58bccc;
	line-height : 20px;
}

body{
	text-align : center;
}

.container {
	width: 940px;
	margin: 200px 0 0 0;
	.center-block();
}


#imuContainer {

	margin: 10px 0 0 0;
}
.imuRow {
/*
	padding: 0 0 0 50px;*/
}


.btn_imu {
	margin: 20px 0 0 0;
}

.imuGraph{
	margin: 0 0 0 50px;
}

#gyroGraph{
	height : 80px;
	width  : 455px;
	margin: 0 0 0 35px;
}

#accelGraph{
	height : 80px;
	width  : 441px;
	margin: 0 0 0 49px;
}

#orientationGraph{
	height : 80px;
	width  : 452px;
	margin: 0 0 0 38px;
}

.emgChannel{
/*	display: inline-block; 
	*display: inline; 
	zoom: 1; 
	vertical-align: center; d
	horizontal-align: top;*/
}

.inline-fields {
	display: inline-block;
}

.sliders_SynthParam {
	width: 50px;
}


.emgRow {
	padding: 0 0 0 50px;
}

.btn_emg {
	margin: 10px 0 0 0;
}

.emgGraph{
	display : inline-block;
	height  : 55px;
	width   : auto;
	padding: 0 0 0 0;
}

.emgCompositeGraph{
	display : inline-block;
	height  : 440px; 
	width   : 500px;
}

#randomData{
	display : inline-block;
	height  : 250px;
	width   : 500px;
	margin: 10px 0 0 50px;
}

