name: Mac Build

on: 
  workflow_dispatch:

jobs:
  build-macos:

    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: for cpp 17
      run: export CXX="g++-8" CC="gcc-8" & gcc --version
    - name: configure
      run: mkdir build && cd build && cmake -DCMAKE_CXX_FLAGS="-Werror" ..
    - name: build
      run: cmake --build build
    - name: test
      run: cd build && ctest
    - name: Upload RapidLibPlugin build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: RapidLibPlugin
        path: build/
